.modal-bg{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color:rgba(40, 39, 39, 0.5);
}

.modal-card{
    position: fixed;
    top: 20vh;
    left: 25%;
    height: 15rem;
    width: 50%;
    color: white;
    padding: 10px;
    z-index: 100;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(15, 1, 27);
}

.modal-btn{
    height: 2rem;
    width: 10rem;
    margin-top: 2rem;
}



