

.review-modal-bg{
    position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(241, 245, 245,0.5);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;

}

.review-modal-card{
    width: 30rem;
    height: auto;
    background-color: rgb(2, 16, 63);
    z-index: 3000;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}





.review-modal-btn{
    height: 2rem;
    width: 30px;
    margin-left: -10rem;
    
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: none;
    
}













