

.review-modal-bg{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    
    margin: 1rem;
    background-color:rgb(10, 10, 10,0.5);
}

.review-modal-card{
    /* position: absolute;
    top: 10vh;
    left: 30%; */
    height: 25rem;
    width: 25rem;
    background-color: transparent;
    background-color: rgb(0, 0, 26);
    
    z-index: 1000;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    
    
    margin-top: -2rem;
    
}





.review-modal-btn{
    height: 2rem;
    width: 30px;
    margin-left: -10rem;
    
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: none;
    
}






@media (max-width:486px){


.review-modal-card{
    position: absolute;
    height: 100%;
    width: 90%;
    margin-left: -10rem;
    
    
    
    
}


  
}







