.history-card{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.history-info{
    width: 80%;
    height: 14rem;
    background-color: rgb(195, 200, 200,0.5);
    
    margin-bottom: 1rem;
    padding: 1rem;

}

.history-info p{
    color: black;
    text-align: justify;
    font-weight: 300;
}

.history-user{
     display:flex;

    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid orange;
}

.history-title{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: x-large;
    margin-top: 4rem;
}

.history-user img{
    width: 50px;
    height: 50px;
     border-radius: 50%;
     border: 1px solid orange;
}

.history-list{
    display: flex;

    margin-top: 3rem;
    margin-bottom: 10px;
}

.sort{
    height: 2rem;
    width: 8rem;
    margin-right: 6rem;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
    float: right;
    display: block;

    
}


.history-list p{
    width: 5rem;
    height: 1.5rem;
  
    margin-right: 1rem;
    text-align: center;
    border-radius: 15px;
    font-size: medium;
    
}


.history-list .red{
    
border: 1px solid rgba(233, 51, 27, 0.5);
}

.history-list .green{
    
    border: 1px solid rgba(70, 245, 12, 0.5);
}
