.review-box{
    width: 100%;
    height: 100vh;

    display: flex;
    
    margin: 0;
    justify-content: space-evenly;
}

.review-product{
    
    margin-top: 3rem;
    padding-top: 1rem;
    width: 30%;
    background-color: rgb(214, 226, 228,0.2);
}

.total-review-box{
    margin-top: 3rem;
    width: 50%;
    padding-top: 1rem;
    background-color: rgb(214, 226, 228,0.2);
}

.total-review-card{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.total-review-card p{
    color: black;
    padding-left: 1rem;
}

.total-review-card button{
    background-color: transparent;
    border: none;
    margin: 1rem;
    padding-right: 1rem;
}


.user-review-card{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    

    
}

.user-review {
    width: 85%;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;

}

.user-review p{
    color: black;
    text-align:justify;
    
}

.review-img{
    width: 200px;
    height: 100px;
}

.review-btn-box {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.review-btn-box button{
    
    background-color: transparent;
    border: none;
    font-size: larger;
   
}

.star{
    color: #fb940c;
    
}

.card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    border-bottom: 1px solid rgb(149, 148, 148);
}

.product-name{
    font-weight: 400;
    cursor: pointer;
    padding-left: 2rem;
}