.review-box{
    width: 100%;
    height:100%;
    display: flex;
    background-color: rgba(164, 168, 168, 0.2);
    margin: 0;
    justify-content: space-evenly;
}

.review-product{
    margin-top: 2rem;
    width: 20%;
    background-color: white;
}



.total-review-card{
    height: 3rem;
    width: 100%;
    background-color: rgb(1, 25, 57);
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
    align-items: center;
    
    
}

.total-review-card p{
    color:white;
    font-weight: 500;
    padding-left: 2rem;
    margin-top: 10px;
}

.total-review-card button{
    background-color: transparent;
    border: none;
    margin: 1rem;
    color:white;
    padding-right: 2rem;
}



/* user card */


.user-review-card{
    
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-top: 1rem;
    
    
}

.user-review {
    height: 15rem;
    width: 100%;
    color: black;
    
    padding-left: 1rem;
    padding-right: 1rem;

}

.user-review p{
    color: black;
    text-align:justify;
    padding-top: 10px;
    
}

.review-img{
    width: 200px;
    height: 100px;
    
    
}

.review-btn-box {
    width: 20%;
    height: 100%;
    display: flex;
    
    align-items: center;
    padding-top: 1rem;
    margin-right: 4rem;

    
}

.review-btn-box button{
    border-radius: 3px;
    background-color: transparent;
    width: 4rem;
    height: 30px;
    
    border: none;
    border: 1px solid rgb(112, 108, 108,0.5);
    
    text-align: center;
    margin-left: 1rem;
    cursor: pointer;
    
}



.star{
    color: #fb940c;
    margin-top: -20px;
}





.dot{
    display: flex ;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: -15px;
    

}

.dot-icon{
    margin: 10px;
    
}

.review-menu{
    display: none;
}


.product-name{
    font-weight: 400;
    font-size: large;

    text-transform: capitalize;
    cursor: pointer;
    height: 1rem;
    width: 100%;
    padding-left: 0.5rem;
    
}


.spin{
    width: 100%;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




.review-container{
    width: 100%;
    height: 18rem;
background-color: white;
margin: 1rem;
}

.review-container .card{
    display: flex;
    justify-content: space-between;
    
    
    
}

.review-container .user-info{
    height: 2.5rem;
    border-bottom:1px solid  rgb(103, 106, 106,0.2);
    display: flex;
    padding: 10px;
    
    

}

.review-container .user-info p{
    color: black;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}


.review-container .user-info img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid orange;
    
}

.review-sidebar{
    display: none;
}


@media (max-width:1024px){





  
}


@media (max-width:486px){
    .total-review-card p{
    color:white;
    font-weight: 500;
    padding-left: 0;
    margin-top: 10px;
}

.review-menu{
    display: block;
    
}

.review-product{
    display: none;
}

.review-sidebar{
display: block;
    height: auto;
    width: 50%;
    background-color: rgb(1, 15, 55);
    color: white;
    z-index: 999;
    position: absolute;
    left: 0;
    padding-bottom: 2rem;
}




.review-btn-box {
    margin-top: -1.5rem;
    width: 100%;
    
}
.review-btn-box button{
    
    width: 40%;
    margin-bottom: 1rem;
    
    
}


.review-container{
   height: auto;
   width: 100%;
}

.review-container .card{
    flex-direction: column;
    
    
}

  
}
