.verify-bg-box{
    width: 100%;
    height:100vh;
    background-color: rgb(1, 14, 37);
    display: flex;
    
    flex-direction: column;
    align-items: center;

}

.title {
    margin-top: 4rem;
    text-align: center;
    color: white;
    
    font-weight: 400;
    font-size: x-large;
    
}




.verify-form-container {
    width: 25rem;
    height: 15rem;
    box-shadow: 0 4px 8px rgba(202, 206, 212, 0.5);
    
}

.verify-form-container form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    padding:5px ;
    
    

}


.verify-form-container h1{
    color: white;
    text-align: center;
    margin-bottom: 0;

    font-weight: 400;
    font-size: x-large;
}

.verify-form-container form .verify-div{
    width: 80%;
    height: 3rem;
    margin-top: 5px;
    
}



.verify-custom-input{
    width: 100%;
    height: 1.5rem;
    margin-top: 5px;
    color: white;
    border-radius: 2px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: none;
    
    
    
}


.verify-custom-button{
    
    width: 8rem;
    height: 1.8rem;
    background-color: rgb(222, 91, 3);
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: medium;


}

.p-link-text{
    color: white;
    font-weight: 200;
    font-size: medium;
    text-align: center;
}

.p-link-text a{
    color: orange;
    text-decoration: none;

}


.custom-label{
    color: white;
}

.link-text{
    margin-bottom: 0px;
}

.link-text a{
    text-decoration: none;
    color: white;
    font-size: medium;
    
    
}


.reset-msg{
    margin-top: -15px;
    color: orange;
    
    
   
}





