.heading{
 margin: 0;
    height: 4rem;
    width: 100%;
    background: rgba(252, 251, 252, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(2, 104, 2);
    z-index: 100;
    top: 0;
    border-bottom: 1px solid rgb(125, 124, 124,0.2);
    
}

.heading .logo {
    
    width: 20%;
    height: 10rem;
    background-image: url("../assets/food_logo.png");
    background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
  
  
  
  
}



.heading ul{
 display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: -10rem;
    
}


.heading ul li {
    margin-left: 30px;
list-style-type: none;
text-decoration: none;

}

.heading ul li a{
color: rgb(2, 24, 70);
text-decoration: none;


}


.heading .btn {
    width: 5rem;
    height: 30px;
    margin-right: 5rem; 
    background-color: transparent;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}


.heading .btn .profile {
    width: 2rem;
    height: 30px;
    
    
     
    background-color: rgb(3, 35, 84);
    /* text-align: center; */
    
    
    border-radius: 5px;
}


.heading .btn .logout {
    width: 2rem;
    margin-left: 1rem;
    height: 30px;
    
    
    background-color: rgb(3, 35, 84);
    text-align: center;
    border: none;
    
    border-radius: 5px;
}


.heading .btn .logout a{
   color: red;
}


.heading .btn .profile a{
   color: white;
}


