.heading{
 margin: 0;
    height: 4rem;
    width: 100%;
    background: rgba(252, 251, 252, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(2, 104, 2);
    z-index: 100;
    top: 0;
    border-bottom: 1px solid rgb(125, 124, 124,0.2);
    
}

.heading .logo {
    
    width: 20%;
    height: 10rem;
    background-image: url("../assets/food_logo.png");
    background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
  
  
  
  
}



.heading ul{
 display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: -10rem;
    
    
}


.heading ul li {

    margin-left: 30px;
list-style-type: none;
text-decoration: none;

}

.heading ul li a{
color: rgb(2, 24, 70);
text-decoration: none;


}


.heading .btn {
    width: 6rem;
    height: 30px;
    margin-right: 5rem; 
    background-color: transparent;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}


.heading .btn .profile {
    width: 2rem;
    height: 30px;
    
    
     
    background-color: rgb(3, 35, 84);
    /* text-align: center; */
    
    
    border-radius: 5px;
}


.heading .btn .logout {
    width: 2rem;
    margin-left: 1rem;
    height: 30px;
    
    
    background-color: rgb(3, 35, 84);
    text-align: center;
    border: none;
    
    border-radius: 5px;
}


.heading .btn .logout a{
   color: red;
}


.heading .btn .profile a{
   color: white;
}



.menu-icon-open{

    display: none;
    cursor: pointer;
    z-index: 100;
    color: rgb(252, 251, 251);
    margin-left: 1rem;
    background-color: rgb(1, 12, 59);
    width: 2rem;
    height: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    
}


.nav-link-open{
    transform: translateX(-100%);
    transition:transform 0.5s ease-in-out;
}

.menu-icon{
    position: relative;
    
    left: 40%;
    cursor: pointer;
    z-index: 100;
    color: rgb(252, 251, 251);
    margin-top: -12rem;
    background-color: rgb(1, 12, 59);
    width: 2rem;
    height: 1.8rem;
    padding: 5px;
    border-radius: 5px;
    
    
}




@media (max-width:786px){

    .menu-icon-open{
        display: block;
    }


    .heading .nav-link{
display: none;
    }





    .heading .nav-link-open{
    position: absolute;
    top: 3rem;
    
    height: calc(100vh - 4rem);
    background-color: rgb(1, 8, 48);
    width: 25rem;
    
    flex-direction: column;
    
    transition: transform 0.5s ease-in-out;
    transform: translateX(0%);
}

.heading .nav-link-open li{
    height: 2rem;
    width: 10rem;
    
    margin: 0.5rem;
    margin-left: 5rem;

}


.heading .nav-link-open li a{
color: white;
text-decoration: none;


}






  
}


@media (max-width:486px){

    .menu-icon-open{
        display: block;
    }


    .heading .nav-link{
display: none;
    }





    .heading .nav-link-open{
    position: absolute;
    top: 3rem;
    
    height: calc(100vh - 4rem);
    background-color: rgb(1, 8, 48);
    width: 25rem;
    
    justify-content: start;
    padding-top: 15rem;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0%);
}

.heading .nav-link-open li{
    height: 2rem;
    width: 10rem;
    
    margin: 0.5rem;
    margin-left: 5rem;

}


.heading .nav-link-open li a{
color: white;
text-decoration: none;


}






  
}


