.heading{
 margin: 0;
    height: 4rem;
    width: 100%;
    background: rgb(128, 128, 128,0.2);
  
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(2, 104, 2);
    z-index: 100;
    top: 0;
    
    
}

.heading .logo {
    
    width: 20%;
    height: 10rem;
    background-image: url("../assets/food_logo.png");
    background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
  
  
  
  
}



.heading ul{
 display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    
}


.heading ul li {
    margin-left: 30px;
list-style-type: none;
text-decoration: none;

}

.heading ul li a{
color: green;
text-decoration: none;

}




.heading button{
    width: 20%;
    height: 30px;

    
    
    color: red;
    text-align: center;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

