.container-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 4rem;
    width: 60%;
    margin: 1rem;
    
    
    
}


.list{
    height: 25px;
    color: gray;
    background-color: white;
    border: 1px solid gray;
    width: 5rem;
    margin: 10px;
    text-align: center;
    
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.listR{
    
    color: rgb(213, 5, 5);
    background-color: white;
    margin-left: 2px;
    padding-top: 5px;
padding-left: 2px;
    
}

.listG{

    font-size: medium;
margin-left: 2px;
padding-top: 5px;
padding-left: 2px;
    color: rgb(27, 136, 5);
    background-color: white;
    
}



.icon{
    color: red;
}


.btn{
    height: 2.5rem;
    width: 10rem;
    background-color: rgba(1, 1, 58, 0.919);
    color: white;
    border: none;
    font-size: small;
    border-radius: 5px;
    

}