.container-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 5rem;
    width: 100%;
    margin-top: -1rem;
    

    
    
}


.list{
    height: 1rem;
    
    
    border: 1px solid rgb(112, 110, 110,0.5);
    width: auto;
    margin: 5px;
    padding: 5px;
    
    
    border-radius: 30px;
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
    
    
}

.list .list-item{
    color: rgb(56, 55, 55);
    margin-top: 10px;
}


.listR{
    
    color: rgb(213, 5, 5);
    background-color: white;
    font-size: medium;
    margin: 5px;
    
}

.listG{

    font-size: medium;
margin: 5px;
    color: rgb(27, 136, 5);
    background-color: white;
    
}



.icon{
    color: red;
}


.btn{
    height: 3rem;
    width: 100%;
    background-color: rgba(1, 1, 58, 0.919);
    color: white;
    border: none;
    font-size: large;
    border-radius: 5px;
    margin-top: 1rem;
    
    margin-bottom: 2rem;
}