

.bg-card{
    width: 100%;
    
    
    display: flex;
    
    flex-direction: column;
    align-items: center;

}

.form-title {
    
    text-align: center;
    color: rgb(97, 96, 96);
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    margin-top: 1rem;

    
}




.form-card {
    width: 25rem;
    height: 10rem;
    background-color: white;
    /* border: 1px solid gray; */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(64, 68, 72);
    
}

.form-card form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    padding:5px ;
    
    
    

}


.form-card h1{
    color: black;
    text-align: center;
    margin-bottom: -1.5rem;

    font-weight: 400;
    font-size: x-large;
}

.form-card form div{
    
    width: 80%;
    height: 3rem;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    
    
}



.form-input{
    
    width: 100%;
    height: 1.5rem;
    margin-top: 20px;
    color: black;
    border-radius: 2px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    outline: none;
    
    
}


.custom-btn{
    
    width: 6rem;
    height: 1.8rem;
    background-color: rgb(99, 98, 98);
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: small;


}

.form-label{
    color: rgb(5, 5, 5);
    font-weight: 400;
    font-size: medium;
    text-align: center;
    margin-top: 5px;
}


.item-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}








