.review-bg-box{
    width: 100%;
    height:100vh;
    
    display: flex;
    
    flex-direction: column;
    align-items: center;
   margin-top: 10rem;
}

.review-title {
    
    margin-top: -1rem;
    text-align: center;
    color: white;

    font-weight: 400;
    font-size: x-large;
    
}




.review-form-container {
    width: 100%;
    height: auto;
    /* box-shadow: 0 4px 8px rgba(202, 206, 212, 0.5);
     */
     margin-left: -8rem;
   
}

.review-form-container form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    /* padding:5px ; */
    
    
    

}


.review-form-container h1{
    color: white;
    text-align: center;
    
    
    font-weight: 400;
    font-size: x-large;
}

.review-form-container form div{
    
    width: 80%;
    height: 3rem;
    margin-top: 5px;
    
    
    
}



.custom-input{
    
    width: 100%;
    height: 1.5rem;
    margin-top: 5px;
    color: white;
    border-radius: 2px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: none;
    
    
    
}

.custom-input option{
    color: #000;
    
}


.custom-button{
    
    width: 10rem;
    height: 1.8rem;
    background-color: rgb(222, 91, 3);
    margin-top: 30px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: medium;


}

p{
    color: white;
    font-weight: 200;
    font-size: medium;
    text-align: center;

}

p a{
   color: orange;
   text-decoration: none;
   
    
}


.custom-label{
    color: white;
}



.wait-image-text{
    color: orange;
    height: 1rem;
    margin-bottom: 10px;
    font-size: medium;
   
    margin-top: -10px;
}

@media (max-width:1024px){


.review-form-container {
    
    /* padding-top: 1rem;
    margin-top: 20rem;
    margin-left: -10rem;
    
     */
    
}


  
}


@media (max-width:486px){


.review-form-container {
    height: 100vh;
    width: 100%;
    padding-top: 1rem;
    margin-top: 10rem;
margin-left: -10rem;
    
    
    
    
}




  
}

